pkgbase = mozc
	pkgver = 2.26.4437.100
	pkgrel = 1
	url = https://github.com/google/mozc
	arch = x86_64
	groups = mozc-im
	license = BSD
	license = custom
	makedepends = bazel
	makedepends = git
	makedepends = qt5-base
	source = mozc::git+https://github.com/google/mozc.git#commit=d08f2a8d96af3ff80aac0e5641d9d20281084038
	source = ibus-include-dir.patch
	source = qt-path.patch
	source = emoji-13-0.tsv
	source = emoji-misc.tsv
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = mozc
	pkgdesc = A Japanese Input Method Editor designed for multi-platform
	depends = qt5-base

pkgname = ibus-mozc
	pkgdesc = IBus engine for Mozc
	depends = mozc=2.26.4437.100
	depends = ibus>=1.4.1

pkgname = emacs-mozc
	pkgdesc = Mozc for Emacs
	depends = mozc=2.26.4437.100
	depends = emacs
	conflicts = emacs-mozc-bin
